
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

 <table class="table table-bordered">
        <tr>
            <th>Emp Id</th>
            <td>@ViewBag.Id</td>
        </tr>
        <tr>
            <th>Emp Name</th>
            <td>@ViewBag.Name</td>
        </tr>
         <tr>
            <th>Emp Salary</th>
            <td>@ViewBag.Salary</td>
        </tr>
        <tr>
            <th>Emp Phoneno</th>
        <td>@ViewBag.Phoneno</td>
        </tr>
        </table>