
@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>
<p>
    Name:@ViewBag.Name
</p>
<p>
    Gender:@ViewBag.Gender
</p>
<p>
    Mobileno:@ViewBag.Mobileno
</p>
<p>
    Email:@ViewBag.Email
</p>
<p>
    Percentage:@ViewBag.Percentage
</p>

