@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>
        @TempData["message"]
    </h2>
    @if(ViewData["Colors"]!=null)
    {
    <div class="row">
        <div col-12>
            <ol>
                @foreach (string color in (IEnumerable<string>)ViewData["Colors"])
                {
                    <li>
                        @color
                    </li>
                }
            </ol>
        </div>
    </div>
    }
</div>
